@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

body {
  background-color: #f3f5fc;
  font-family: "Rubik";
  color: #0a1329;
}

.card {
  border-radius: 20px;
}

p {
  color: rgba(10, 19, 41, 0.55);
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

.btn-primary {
  background-color: #315bc7;
  &:hover {
    background-color: #1e4096;
  }
}

.navbar {
  .navbar-brand {
    img {
      max-height: 30px;
    }
  }

  .second-nav {
    .nav-item {
      .login-link {
        color: #315bc7;
        font-weight: 600;
      }
    }
  }
}

.navbar-fixed-top.scrolled {
  background-color: white !important;
  transition: background-color 200ms linear;
}

// header
.section-header {
  .value-proposition {
    margin-top: 138px;
    .discount {
      background-color: #ffebee;
      color: #faa6a2;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
  }

  @media (min-width: 576px) {
    h1 {
      font-size: 66px;
    }
  }

  p {
    margin-top: 26px;
    line-height: 33px;
  }

  .brand {
    padding-top: 153px;
    img {
      max-height: 347px;
    }
  }
}
// akhir header
// content
.content-section {
  .content-1 {
    margin-top: 138px;
    height: 610px;
    background-color: black;
    background-image: url(../img/Content_1.jpg);
    background-size: cover;
  }
  .content-2 {
    margin-top: 138px;
    height: 610px;
    background-color: #1e4096;
    background-image: url(../img/Content_2.jpg);
    background-size: cover;
  }
}

// akhir content
// mobile
.mobile-container {
  margin-top: 138px;
}
// akhir mobie

// section benefit
.benefit-section {
  br {
    display: none; // Show BR tag for narrow screens
  }

  @media (min-width: 576px) {
    // or whatever you are after
    br {
      display: inline; // Hide BR tag for wider screens
    }
  }
  margin-top: 101px;
}
// akhir benefit

// stats
.stats-section {
  .key-benefit {
    margin: 10px -15px;
  }
  img {
    max-height: 376px;
  }
}
// akhir stats

// video-section
.video-section {
  background-color: #f3f5fc;
  @media (min-width: 576px) {
    background-color: white;
    margin-top: -229px;
    padding-top: 310px;
  }
  .video-player {
    .wrapper {
      max-height: 658px;
      position: relative;
      z-index: 0;
    }
  }
}
// akhir video-section

// products
.products-section {
  background-color: #f3f5fc;
  @media (min-width: 576px) {
    background-color: white;
    margin-top: -229px;
    padding-top: 310px;
  }
}
.products-card-section {
  background-color: #f3f5fc;
  @media (min-width: 576px) {
    background-color: white;
    margin-top: -229px;
    padding-top: 258px;
    padding-bottom: 146px;
  }

  .card-body {
    .card-title {
      font-weight: bold;
    }
    .card-text {
      br {
        display: none; // Show BR tag for narrow screens
      }
      @media (min-width: 576px) {
        br {
          display: inline; // Hide BR tag for wider screens
        }
      }
    }
  }
  .card {
    transition: transform 0.2s ease;
  }
  .card:hover {
    transform: scale(1.1);
  }
}
// akhir-products

// testimonial
.section-testimonial {
  margin-top: 135px;
  h1 {
    font-size: 30px;
    font-weight: bold;
  }

  @media (min-width: 576px) {
    h1 {
      font-size: 66px;
    }
  }

  .testimonial-card {
    margin-top: 70px;

    .avatar-user {
      max-height: 70px;
    }

    h5 {
      font-weight: bold;
    }

    h6 {
      font-weight: 400;
      color: #818181;
    }

    p {
      color: rgba(10, 19, 41, 100%);
    }
  }
}
// akhir-testimonial

// footer
footer {
  margin-top: 70px;
  background-color: #0a1329;

  img {
    max-height: 32px;
  }

  p {
    color: white;
    font-weight: 100;
    line-height: 27px;
  }

  .social-media {
    .fb {
      margin-left: 0;
      margin-right: 16px;
    }
    .tw {
      margin-left: 16px;
      margin-right: 16px;
    }
  }

  .footer-title {
    font-weight: 600;
    color: white;
  }
  .footer-link {
    h6 {
      font-weight: 100;
      color: white;
      text-decoration: none;
    }
  }
}
// akhir footer
