@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
body {
  background-color: #f3f5fc;
  font-family: "Rubik";
  color: #0a1329;
}

.card {
  border-radius: 20px;
}

p {
  color: rgba(10, 19, 41, 0.55);
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

.btn-primary {
  background-color: #315bc7;
}

.btn-primary:hover {
  background-color: #1e4096;
}

.navbar .navbar-brand img {
  max-height: 30px;
}

.navbar .second-nav .nav-item .login-link {
  color: #315bc7;
  font-weight: 600;
}

.navbar-fixed-top.scrolled {
  background-color: white !important;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.section-header .value-proposition {
  margin-top: 138px;
}

.section-header .value-proposition .discount {
  background-color: #ffebee;
  color: #faa6a2;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.section-header h1 {
  font-size: 30px;
  font-weight: bold;
}

@media (min-width: 576px) {
  .section-header h1 {
    font-size: 66px;
  }
}

.section-header p {
  margin-top: 26px;
  line-height: 33px;
}

.section-header .brand {
  padding-top: 153px;
}

.section-header .brand img {
  max-height: 347px;
}

.content-section .content-1 {
  margin-top: 138px;
  height: 610px;
  background-color: black;
  background-image: url(../img/Content_1.jpg);
  background-size: cover;
}

.content-section .content-2 {
  margin-top: 138px;
  height: 610px;
  background-color: #1e4096;
  background-image: url(../img/Content_2.jpg);
  background-size: cover;
}

.mobile-container {
  margin-top: 138px;
}

.benefit-section {
  margin-top: 101px;
}

.benefit-section br {
  display: none;
}

@media (min-width: 576px) {
  .benefit-section br {
    display: inline;
  }
}

.stats-section .key-benefit {
  margin: 10px -15px;
}

.stats-section img {
  max-height: 376px;
}

.video-section {
  background-color: #f3f5fc;
}

@media (min-width: 576px) {
  .video-section {
    background-color: white;
    margin-top: -229px;
    padding-top: 310px;
  }
}

.video-section .video-player .wrapper {
  max-height: 658px;
  position: relative;
  z-index: 0;
}

.products-section {
  background-color: #f3f5fc;
}

@media (min-width: 576px) {
  .products-section {
    background-color: white;
    margin-top: -229px;
    padding-top: 310px;
  }
}

.products-card-section {
  background-color: #f3f5fc;
}

@media (min-width: 576px) {
  .products-card-section {
    background-color: white;
    margin-top: -229px;
    padding-top: 258px;
    padding-bottom: 146px;
  }
}

.products-card-section .card-body .card-title {
  font-weight: bold;
}

.products-card-section .card-body .card-text br {
  display: none;
}

@media (min-width: 576px) {
  .products-card-section .card-body .card-text br {
    display: inline;
  }
}

.products-card-section .card {
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.products-card-section .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section-testimonial {
  margin-top: 135px;
}

.section-testimonial h1 {
  font-size: 30px;
  font-weight: bold;
}

@media (min-width: 576px) {
  .section-testimonial h1 {
    font-size: 66px;
  }
}

.section-testimonial .testimonial-card {
  margin-top: 70px;
}

.section-testimonial .testimonial-card .avatar-user {
  max-height: 70px;
}

.section-testimonial .testimonial-card h5 {
  font-weight: bold;
}

.section-testimonial .testimonial-card h6 {
  font-weight: 400;
  color: #818181;
}

.section-testimonial .testimonial-card p {
  color: #0a1329;
}

footer {
  margin-top: 70px;
  background-color: #0a1329;
}

footer img {
  max-height: 32px;
}

footer p {
  color: white;
  font-weight: 100;
  line-height: 27px;
}

footer .social-media .fb {
  margin-left: 0;
  margin-right: 16px;
}

footer .social-media .tw {
  margin-left: 16px;
  margin-right: 16px;
}

footer .footer-title {
  font-weight: 600;
  color: white;
}

footer .footer-link h6 {
  font-weight: 100;
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */